Repository se701g2/Doto, pull requests merged in 2020-04, with the labels that each got.

#226 issue/197 - Removed magic numbers in back-end and replaced with constants
  doto-backend/src/config/token-setup.js
  doto-backend/src/constants/http-response.js
  doto-backend/src/routes/task-route.js
  doto-backend/src/routes/user-route.js
Labels: Refactor, backend

#216 issue/200 Bug schedule task overlaps when time is not specified closes #200
  doto-backend/.env.example
  doto-frontend/src/components/ModalContent.js
  doto-frontend/src/components/pages/Calendar/TaskScheduler.js
Labels: enhancement, frontend

#238 issue/199 - Make UI more responsive closes
  doto-frontend/src/components/ModalContent.css
  doto-frontend/src/components/ModalContent.js
  doto-frontend/src/components/pages/Calendar/Calendar.css
  doto-frontend/src/components/pages/Calendar/Calendar.js
  doto-frontend/src/components/pages/Calendar/CalendarListView.js
  doto-frontend/src/components/pages/Header.css
  doto-frontend/src/components/pages/Header.js
  doto-frontend/src/components/pages/Login/Login.css
  doto-frontend/src/components/pages/Login/Login.js
  doto-frontend/src/components/pages/Settings/SettingsPage.css
  doto-frontend/src/components/pages/Settings/SettingsPage.js
Labels: enhancement, frontend

#237 issue/162 - Prevent access to calendar and settings page and redirect when not logged in closes #162
  doto-frontend/src/helpers/PrivateRoute.js
  doto-frontend/src/routes/Route.js
  doto-frontend/src/routes/Route.test.js
Labels: bug, frontend

#244 #231 Add sign up google account link on the login page
  doto-frontend/src/components/pages/Login/Login.js
Labels: enhancement, frontend

#245 enhancement/239 - Run backend and frontend with a single command closes #239
  README.md
  package.json
Labels: Devops, enhancement

#251 issue/220-delete-task
  doto-backend/src/routes/task-route.js
  doto-backend/test/task.test.js
  doto-frontend/src/components/pages/Calendar/Calendar.css
  doto-frontend/src/components/pages/Calendar/Calendar.js
  doto-frontend/src/components/pages/Calendar/CalendarComponent.js
  doto-frontend/src/helpers/DotoService.js
Labels: enhancement

#255 bug/248 - Fix issue with inconsistent theme change behaviour closes #248
  doto-frontend/src/components/pages/Settings/SettingsPage.js
Labels: bug, frontend

#258 fix issue where duration of event didn't match the actual time specified closes #257
  doto-frontend/src/components/pages/Calendar/TaskScheduler.js
Labels: frontend

#262 issue/247 - Task list should show the task start time and end time
  doto-frontend/package.json
  doto-frontend/src/components/pages/Calendar/CalendarListView.js
  doto-frontend/src/components/pages/Login/__snapshots__/Login.test.js.snap
  doto-frontend/src/components/pages/Settings/__snapshots__/SettingsPage.test.js.snap
Labels: Refactor, frontend

#267 docs: Added all-contributions instructions closes #204
  CONTRIBUTIONS.md
Labels: documentation

#287 Issue/286 closes
  .all-contributorsrc
  README.md
Labels: bug, documentation

#285 Issue #268 & 284 - support earliest start date & task due dates stored in the database
  doto-frontend/src/components/ModalContent.js
  doto-frontend/src/components/pages/Calendar/Calendar.js
  doto-frontend/src/components/pages/Calendar/TaskScheduler.js
  doto-frontend/src/context/ActiveHoursContext.js
  doto-frontend/src/helpers/DotoService.js
  doto-frontend/src/routes/Route.js
Labels: frontend

#279 bug/265 - enable working hour function and issue/272 - new UI for setting page to work with working hour function
  doto-backend/.env.example
  doto-frontend/src/components/pages/Calendar/Calendar.js
  doto-frontend/src/components/pages/Calendar/Calendar.test.js
  doto-frontend/src/components/pages/Calendar/TaskScheduler.js
  doto-frontend/src/components/pages/Calendar/TaskShifter.js
  doto-frontend/src/components/pages/Settings/SettingsPage.js
Labels: bug, frontend

#281 issue/62 - Gamification feature
  doto-backend/src/models/User.js
  doto-frontend/package.json
  doto-frontend/src/components/AvailableTheme.js
  doto-frontend/src/components/MarketPlace.css
  doto-frontend/src/components/MarketPlace.js
  doto-frontend/src/components/Points.js
  doto-frontend/src/components/ProductivityScore.css
  doto-frontend/src/components/ProductivityScore.js
  doto-frontend/src/components/Streak.js
  doto-frontend/src/components/UserStats.css
  doto-frontend/src/components/UserStats.js
  doto-frontend/src/components/images/lock.png
  doto-frontend/src/components/images/streak.png
  doto-frontend/src/components/pages/Calendar/Calendar.css
  doto-frontend/src/components/pages/Calendar/Calendar.js
  doto-frontend/src/components/pages/Settings/SettingsPage.css
  doto-frontend/src/components/pages/Settings/SettingsPage.js
  doto-frontend/src/components/pages/Settings/__snapshots__/SettingsPage.test.js.snap
  doto-frontend/src/helpers/DotoService.js
  doto-frontend/yarn.lock
  package.json
Labels: backend, frontend

#305 issue/298 - Remove resolved to-do comments
  doto-backend/src/routes/task-route.js
  doto-frontend/src/helpers/DotoService.js
Labels: documentation

#300 Issue/283- Set task categories
  doto-backend/src/models/Task.js
  doto-backend/src/routes/task-route.js
  doto-frontend/src/components/ModalContent.js
  doto-frontend/src/components/pages/Calendar/CalendarComponent.js
  doto-frontend/src/components/updateModal/UpdateModalContent.js
  doto-frontend/src/constants/Categories.js
  doto-frontend/src/helpers/DotoService.js
Labels: backend, frontend

#299 issue/273 - Tasks do not show due dates
  doto-frontend/src/components/pages/Calendar/CalendarComponent.js
Labels: enhancement, frontend

#295 Bug/294 can't edit task due to earliest date addition
  doto-backend/src/models/Task.js
  doto-backend/src/routes/task-route.js
  doto-backend/swagger.json
  doto-backend/test/task.test.js
  doto-frontend/src/components/ModalContent.js
  doto-frontend/src/components/pages/Calendar/Calendar.js
  doto-frontend/src/components/updateModal/UpdateModalContent.js
  doto-frontend/src/helpers/DotoService.js
Labels: bug, frontend

#310 fix: updateTaskDetails called with incorrect parameters
  doto-frontend/src/components/pages/Calendar/Calendar.js
  doto-frontend/src/components/pages/Calendar/TaskScheduler.js
  doto-frontend/src/components/pages/Calendar/TaskShifter.js
  doto-frontend/src/components/pages/Settings/SettingsPage.js
  doto-frontend/src/helpers/DotoService.js
Labels: bug, frontend

#312 bug/311 - Fix malformed JSON resolves #311
  .all-contributorsrc
Labels: bug, documentation
