Repository se701g2/Doto, pull requests merged in 2020-03, with the labels that each got.

#21 enhancement/#18-Setting up base project frontend and backend
  .github/workflows/nodejs.yml
  .gitignore
  doto-backend/index.js
  doto-backend/package-lock.json
  doto-backend/package.json
  doto-frontend/.gitignore
  doto-frontend/README.md
  doto-frontend/package-lock.json
  doto-frontend/package.json
  doto-frontend/public/favicon.ico
  doto-frontend/public/index.html
  doto-frontend/public/logo192.png
  doto-frontend/public/logo512.png
  doto-frontend/public/manifest.json
  doto-frontend/public/robots.txt
  doto-frontend/src/App.css
  doto-frontend/src/App.js
  doto-frontend/src/App.test.js
  doto-frontend/src/index.css
  doto-frontend/src/index.js
  doto-frontend/src/logo.svg
  doto-frontend/src/serviceWorker.js
  doto-frontend/src/setupTests.js
Labels: enhancement

#25 bug/#24-Fix azure frontend deployment
  .github/workflows/master_doto.yml
Labels: bug

#26 Issue/#10 define code of conduct for team members
  Code_of_conduct.md
Labels: documentation

#27 documentation/#11-Create-Issue-Template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/user-story--documentation-other-.md
Labels: documentation

#29 #28-Fix-Github-Actions-not-looking-in-correct-directory-for-react-build
  .github/workflows/master_doto.yml
Labels: bug

#36 Fix Azure Webapp Deployment Resolves #35
  .github/workflows/master_doto.yml
Labels: bug

#49 Enhancement/42 set up backend deployment with azure
  .github/workflows/master_doto_backend.yml
Labels: Devops, backend, enhancement

#47 Set up DATABASE and ROUTING Resolves se701g2/Doto#37
  doto-backend/index.js
  doto-backend/package-lock.json
  doto-backend/package.json
  doto-backend/src/index.js
  doto-backend/src/models/User.js
  doto-backend/src/routes/router.js
  doto-backend/test/user.test.js
Labels: backend, duplicate

#53 fix/#51-fix-azure-backend-deployment
  doto-backend/index.js
  doto-backend/web.config
Labels: Devops, backend

#58 Start up MongoDB instance in CI process resolves se701g2/Doto/#46
  .github/workflows/nodejs.yml
  doto-backend/package.json
  doto-backend/test/user.test.js
  doto-frontend/src/App.test.js
Labels: Devops, backend, bug

#76 Setup Calendar Component/#63 Creating the calendar component
  doto-frontend/package-lock.json
  doto-frontend/package.json
  doto-frontend/src/components/pages/Calendar/Calendar.css
  doto-frontend/src/components/pages/Calendar/CalendarComponent.js
  doto-frontend/src/components/pages/Calendar/CalendarPage.js
  doto-frontend/src/routes/Route.js
Labels: enhancement, frontend

#78 Issue/#65 create-first-draft-of-api-documentation
  README.md
  doto-backend/API_documentation.md
  doto-backend/src/index.js
Labels: documentation

#83 removing-readme-file Resolves se701g2/Doto#80
  README.md
Labels: bug

#87 bug/#86-React-Router-Broken-on-Deploy
  doto-frontend/public/web.config
Labels: Devops, bug

#92 Bug/#70 mongo db error in backend deployment
  .github/workflows/master_doto_backend.yml
Labels: Devops, bug

#91 Enhancement/#90-set-environment-variable-to-point-relevant-database
  .github/workflows/master_doto_backend.yml
  doto-backend/index.js
  doto-backend/package-lock.json
Labels: Devops, backend

#105 Issue/#66-Settings-Page
  doto-frontend/src/components/pages/Settings/SettingsPage.css
  doto-frontend/src/components/pages/Settings/SettingsPage.js
Labels: enhancement, frontend

#110 Feature/57-Create-a-calendar-page
  doto-frontend/src/components/pages/Calendar.js
  doto-frontend/src/components/pages/Calendar/Calendar.css
  doto-frontend/src/components/pages/Calendar/Calendar.js
  doto-frontend/src/components/pages/Calendar/CalendarComponent.js
  doto-frontend/src/components/pages/Calendar/CalendarListView.js
  doto-frontend/src/components/pages/Calendar/CalendarPage.js
  doto-frontend/src/routes/Route.js
Labels: frontend

#100 Issue/#56 set up routes for backend - Work In Progress
  doto-backend/src/models/Task.js
  doto-backend/src/routes/router.js
  doto-backend/test/task.test.js
Labels: In Progress, backend, bug

#123 Update README.md
  README.md
Labels: documentation

#125 Front end/#124 removing redundant files and creating necessary routes
  doto-frontend/src/components/pages/Settings.js
  doto-frontend/src/routes/Route.js
Labels: enhancement, frontend

#118 Issue/ #75 Creating a header for all the web pages
  Doto.iml
  doto-frontend/src/components/pages/Header.css
  doto-frontend/src/components/pages/Header.js
Labels: enhancement, frontend

#128 Issue/#127-Add-Favicon-to-the-Repo
  doto-frontend/public/favicon.ico
  doto-frontend/public/index.html
  doto-frontend/src/components/images/icons/icon_180x180.png
  doto-frontend/src/components/images/icons/icon_192x192.png
  doto-frontend/src/components/images/icons/icon_512x512.png
Labels: enhancement, frontend

#134 enhancement/#129 Integrating headers with web pages
  doto-frontend/src/components/pages/Calendar/Calendar.css
  doto-frontend/src/components/pages/Calendar/Calendar.js
  doto-frontend/src/components/pages/Header.css
  doto-frontend/src/components/pages/Settings/SettingsPage.css
  doto-frontend/src/components/pages/Settings/SettingsPage.js
Labels: enhancement, frontend

#140 Bug/#136 fix login with google api route
  doto-backend/index.js
  doto-backend/src/config/passport-setup.js
  doto-backend/src/routes/auth-route.js
  doto-frontend/src/components/pages/Login/Login.js
  doto-frontend/src/routes/Route.js
Labels: Devops, backend, bug, frontend

#142 Tooltip additions for UI
  doto-frontend/src/components/pages/Calendar/Calendar.js
  doto-frontend/src/components/pages/Header.js
Labels: enhancement, frontend

#145 #144-Fix-Login-Redirect-to-localhost
  doto-frontend/src/components/pages/Login/Login.js
Labels: Devops, bug, frontend

#143 Integrating changing themes on Settings page
  doto-frontend/package-lock.json
  doto-frontend/package.json
  doto-frontend/src/components/pages/Calendar/Calendar.css
  doto-frontend/src/components/pages/Calendar/Calendar.js
  doto-frontend/src/components/pages/Pages.css
  doto-frontend/src/components/pages/Settings/SettingsPage.css
  doto-frontend/src/components/pages/Settings/SettingsPage.js
Labels: enhancement, frontend

#147 Issue/#146 Update README.md
  README.md
Labels: documentation

#151 Feature/117-scheduling
  doto-frontend/src/components/ModalContent.js
  doto-frontend/src/components/pages/Calendar/Calendar.js
  doto-frontend/src/components/pages/Calendar/CalendarComponent.js
  doto-frontend/src/components/pages/Calendar/CalendarListView.js
  doto-frontend/src/components/pages/Calendar/TaskScheduler.js
Labels: enhancement, frontend

#152 Improving list view
  doto-frontend/src/components/pages/Calendar/Calendar.js
  doto-frontend/src/components/pages/Calendar/CalendarListView.js
Labels: enhancement, frontend

#89 issue/#4-Create-license
  license.md
Labels: documentation

#154 Issue/#153-Modal-Colour-Theme-Change
  doto-frontend/src/components/ModalContent.css
  doto-frontend/src/components/ModalContent.js
  doto-frontend/src/components/images/modal-background-green.jpg
  doto-frontend/src/components/images/modal-background-purple.jpg
  doto-frontend/src/components/pages/Calendar/Calendar.js
Labels: bug

#169 Refactor/#168-rename-github-action-files
  .github/workflows/doto_backend_deploy.yml
  .github/workflows/doto_ci.yml
  .github/workflows/doto_frontend_deploy.yml
Labels: Devops, Refactor, documentation

#176 issue/#174-Refactor-Google-Api-Keys
  doto-backend/index.js
  doto-backend/src/config/passport-setup.js
Labels: Devops, Refactor, backend

#177 Issue/#83 Deleting API docs
  doto-backend/API_documentation.md
Labels: backend, documentation

#173 Issue/#172 Moving "Usage examples" from readme to wiki
  README.md
Labels: documentation

#184 bug/#183-Todays-task-not-showing
  doto-frontend/src/components/pages/Calendar/CalendarListView.js
Labels: bug, frontend

#187 enhancement/186-Create-SettingsPage.test.js
  doto-frontend/src/components/pages/Settings/SettingsPage.test.js
  doto-frontend/src/components/pages/Settings/__snapshots__/SettingsPage.test.js.snap
Labels: enhancement, frontend

#185 enhancement/#131-Create-Calendar.test.js
  doto-frontend/src/components/pages/Calendar/Calendar.js
  doto-frontend/src/components/pages/Calendar/Calendar.test.js
  doto-frontend/src/components/pages/Calendar/__snapshots__/Calendar.test.js.snap
  doto-frontend/src/components/pages/Login/__snapshots__/Login.test.js.snap
  package-lock.json
Labels: enhancement, frontend

#201 enhancement/#190-Refactor-Frontend
  doto-frontend/src/components/ModalContent.js
  doto-frontend/src/components/pages/Calendar/Calendar.css
  doto-frontend/src/components/pages/Calendar/Calendar.js
  doto-frontend/src/components/pages/Calendar/CalendarComponent.js
  doto-frontend/src/components/pages/Calendar/CalendarListView.js
  doto-frontend/src/components/pages/Header.js
  doto-frontend/src/components/pages/Pages.css
  doto-frontend/src/components/pages/Settings/SettingsPage.css
  doto-frontend/src/components/pages/Settings/SettingsPage.js
  doto-frontend/src/helpers/DotoService.js
Labels: Refactor, enhancement, frontend

#192 Issue/191-Added-comments-for-backend
  doto-backend/src/config/passport-setup.js
  doto-backend/src/config/token-setup.js
  doto-backend/src/models/Task.js
  doto-backend/src/models/User.js
  doto-backend/src/routes/auth-route.js
  doto-backend/src/routes/task-route.js
  doto-backend/src/routes/user-route.js
Labels: backend, documentation

#202 Enhancement/Enums-for-themes
  doto-frontend/src/components/ModalContent.js
  doto-frontend/src/components/pages/Calendar/Calendar.js
  doto-frontend/src/components/pages/Settings/SettingsPage.js
  doto-frontend/src/constants/Themes.js
Labels: frontend

#99 issue/#34-Set-up-Swagger-UI
  doto-backend/index.js
  doto-backend/package-lock.json
  doto-backend/package.json
  doto-backend/swagger.json
Labels: documentation, enhancement

#203 Adding comments for front-end files
  doto-frontend/src/components/ModalContent.js
  doto-frontend/src/components/pages/Calendar/Calendar.js
  doto-frontend/src/components/pages/Calendar/CalendarListView.js
  doto-frontend/src/components/pages/Header.js
  doto-frontend/src/components/pages/Settings/SettingsPage.js
  doto-frontend/src/constants/Themes.js
  doto-frontend/src/helpers/CookieManager.js
  doto-frontend/src/helpers/DotoService.js
  doto-frontend/src/routes/Route.js
Labels: documentation, frontend

#208 issue/198 - Duration selection uses time-dial closes #198
  doto-frontend/src/components/ModalContent.js
  package-lock.json
Labels: enhancement, frontend

#214 issue/209 - Migrate from npm to yarn for package management
  .github/workflows/doto_backend_deploy.yml
  .github/workflows/doto_ci.yml
  .github/workflows/doto_frontend_deploy.yml
  README.md
  doto-backend/package-lock.json
  doto-backend/yarn.lock
  doto-frontend/README.md
  doto-frontend/package-lock.json
  doto-frontend/package.json
  doto-frontend/yarn.lock
  package-lock.json
Labels: backend, documentation, enhancement, frontend

#207 issue/114-setup a formal logging system closes #114
  doto-backend/index.js
  doto-backend/package.json
  doto-backend/src/common/logging.js
  doto-backend/src/config/passport-setup.js
  doto-backend/src/routes/task-route.js
  doto-backend/src/routes/user-route.js
  doto-backend/yarn.lock
Labels: backend, enhancement

#219 Fixed logger import name closes #218
  doto-backend/src/config/passport-setup.js
Labels: bug

#223 issue/213 - Add ability to complete a task
  doto-backend/src/models/Task.js
  doto-backend/src/routes/task-route.js
  doto-backend/test/task.test.js
  doto-frontend/src/components/pages/Calendar/Calendar.css
  doto-frontend/src/components/pages/Calendar/Calendar.js
  doto-frontend/src/components/pages/Calendar/CalendarComponent.js
  doto-frontend/src/components/pages/Calendar/CalendarListView.js
  doto-frontend/src/helpers/DotoService.js
Labels: backend, enhancement, frontend
